@media screen and (max-width: 823px) {
    div#previews {
        width: 100%;
        border: none;
    }
    div#wrap {
        width: 100%;
    }
    div#display {
        width: 100%;
        position: absolute;
        left: 0;
        display: none;
    }
}

html {
    font-family: 'Rubik';
    color: #eee;
}

body {
    margin: 0;
    background-color: #181c22;
}

p, h4 {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h4.preview_title {
    color: #00aaff;
    font-weight: 700;
}

h2 {
    color: #00aaff;
    text-transform: uppercase;
    font-size: 24pt;
}

#wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: #222831;
}

#previews {
    width: 35%;
}

div.preview_item {
    padding: 1.5em 0 1.5em 1em;
}

div.preview_item>p {
    margin-top: .5em;
    font-style: italic;
}

div.preview_item:hover {
    background-color: #0070a8 !important;
    cursor: pointer;
}

div.preview_item:nth-child(even) {
    background-color: #393e46;
}

#display {
    width: 55%;
    padding: 1em;
    box-sizing: border-box;
    position: fixed;
    left: 38%;
    overflow-y: scroll;
    height: 100%;
    background-color: #222831;
    -webkit-overflow-scrolling:touch;
}

#align_hack {
    text-align: right;
}

.close {
    margin: 0 auto;
    background-color: #00aaff;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 2em;
    width: 2em;
    cursor: pointer;
    padding: 1px 6px 2px 6px;
}

.close:before {
    content: "\00d7";
    display: inline-block;
}

.close:hover {
    background-color: #0070a8;
}

a {
    color: #ccedd2;
}
a:visited {
    color: #94d3ac;
}

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    border: 1px solid #393e46;
}
::-webkit-scrollbar-thumb {
  background-color: #393e46;
  outline: 1px solid slategrey;
}